include LICENSE
include README.md
recursive-include djangocms_tacc_system_specs/static *
recursive-include djangocms_tacc_system_specs/templates *
recursive-include djangocms_tacc_system_specs/migrations *
